.navbar {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 20px 15%;
  background-color: rgb(235, 112, 19);
}
.logo {
  width: 100px;
  height: 80px;
  padding-top: 10px;
}
.list {
  display: flex;
  gap: 30px;
}
.list li {
  padding-top: 30px;
  list-style-type: none;
  font-size: 20px;
  color: white;
}
.list a {
  text-decoration: none;
}
